doctype html
html
    head
    body
        center
                h1 로그인 페이지
                p
                    b ID : 
                    input(type="text" id="id" name="id" value="" placeholder="ID")
                p
                    b PW : 
                    input(type="password" id="PW" name="PW" value="" placeholder="PASSWORD")
                p
                    input(type="submit")